@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Convert</div>

            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="form" class="form-horizontal">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-eur"></i></span>
                        <input id="amount" type="number" step="0.1" class="form-control" name="amount" value="" placeholder="Your amount of money">
                    </div>
                    
                    <div style="margin-top:10px" class="form-group">
              
                        <div class="col-sm-12 controls">
                            <a id="btn-conv" class="btn btn-primary">    Convert     </a>
                        </div>
                    </div>
                    <span id="result"></span>


                </form>

            </div>
        </div>
   
</div>
</div>
